.popular-page {
  padding: 20px;
  background-color: #1b1b1b; 
  color: #ffffff;
}

.popular-page h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem; 
}

.movies-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px; 
}


.movie-card {
  background-color: #2c2c2c; 
  padding: 10px;
  border-radius: 10px;
  text-align: center; 
  transition: transform 0.3s; 
}

.movie-card:hover {
  transform: scale(1.05); 
}

.movie-card img {
  max-width: 100%; 
  border-radius: 10px; 
}

.movie-card h3 {
  font-size: 16px; 
  margin: 10px 0 5px; 
}

.movie-card p {
  font-size: 14px; 
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .movies-grid {
      grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 480px) {
  .movies-grid {
      grid-template-columns: 1fr; 
  }

  .popular-page h1 {
      font-size: 1.5rem; 
  }

  .movie-card h3 {
      font-size: 14px; 
  }

  .movie-card p {
      font-size: 12px; 
  }
}
